/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

/* ESTILOS CONTENEDOR PRINCIPAL */
.contenedor {
    width: 1440px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-out;
}

/* ESTILOS CARD */
.card {
    width: 320px;
    height: 495px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.qr {
    width: 290px;
    height: 287px;
    border-radius: 10px;
    background-image: url(images/image-qr-code.png);
    background-position: center;
    background-size: cover;
}

.content {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 1.38rem;
    color: hsl(218, 44%, 22%);
}

p {
    width: 90%;
    font-size: 0.96rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: hsl(220, 15%, 55%);
}

/* MEDIA QUERY */
@media screen and (max-width: 670px) {

    body {
        min-height: 600px;
    }

    .contenedor {
        width: 100%;
        height: 100%;
    }

}